#root, .App, html, body {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.main {
    background: lightblue;
    width: 100%;
    padding: 10px;
}

.sidebar img {
    max-width: 100%;
    height: 300px;
}


.sidebar {
    width: 300px;
    margin-left: -300px;
    transition: all 0.5s;
}

.sidebar-enter-active {
    opacity: 0.5;
    transform: scale(0.5);
}

.sidebar-enter {
    margin-left: 0px;
}


.sidebar-enter-done {
    margin-left: 0px;
}
